<h1>SHOE THERAPY</h1>

<nav>
<%= button_to link_to "BACK TO PREVIOUS PAGE", :back %>
<%= button_to link_to "HOME PAGE", :root %>
</nav>

<h2>ADD A NEW SHOE</h2>

<article id= 'form'> 
    <%= render "form", page: @page %>
</article>


