/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
    font-family: 'Corinthia', cursive;
    font-family: 'Klee One', cursive;
    font-family: 'Monsieur La Doulaise', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    color: black   
}

a:hover {
    background-color: rgb(214, 214, 214);
}

h1 {
    text-align: center;
    font-size:500%;
    font-family: 'Corinthia', cursive;
    font-family: 'Klee One', cursive;
    font-family: 'Monsieur La Doulaise', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid black;
    background-color: white;
    
}

h2{
    font-family: 'Corinthia', cursive;
    font-family: 'Klee One', cursive;
    font-family: 'Monsieur La Doulaise', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid white;
    background-color: white;
    padding: 10px;
    
}

p {
    margin: 5px;
}

nav {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    margin: 15px;
    width: 275px;
    height: 500px;
    font-family: 'Corinthia', cursive;
    font-family: 'Klee One', cursive;
    font-family: 'Monsieur La Doulaise', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: white;
    
}

section {
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

img {
    width: 85%;
    align-self: center;
}

#form div {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

*form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 30px;
    padding-top: 10px;
    margin: 15px;
    width: 275px;
    height: 550px;
    font-family: 'Corinthia', cursive;
    font-family: 'Klee One', cursive;
    font-family: 'Monsieur La Doulaise', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;  
    background-color: white;
} 

input {
    margin-left: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Corinthia', cursive;
    font-family: 'Klee One', cursive;
    font-family: 'Monsieur La Doulaise', cursive;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Roboto Condensed', sans-serif; 
    margin: 0;
    
}

html {
    height: 100%;
}

.background_image {
     background-image: url(/assets/backgroundimg.png);
     background-position: center;
     height: 100%;
     background-repeat: no-repeat;
     background-size: cover;
     
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 8px;
}

button:hover {
    background-color: rgb(214, 214, 214)
}

